<!-- story helper tags -->
<select class="status_id helper" id="status_id_options">
  <%- IssueStatus.find(:all, :order => "position ASC").each do |status| %>
  <option value="<%= status.id %>" class="<%= (status.is_closed? ?  l(:label_closed_issues) + ' ' : "") %>"><%= h status.name %></option>
  <%- end %>
</select>

<%- unless Backlogs.setting[:story_points].blank? -%>
<select class="story_points helper" id="story_points_options">
	<%- (['']+Backlogs.setting[:story_points].split(/,/).collect(&:to_f)).each do |point| %>
	<option value="<%=h point %>"><%=h point %></option>
	<%- end %>
</select>
<%- end -%>

<select class="tracker_id helper" id="tracker_id_options">
  <%- RbStory.trackers(:project => @project, :type => :trackers).each do |tracker| %>
	  <%- if (Backlogs.settings[:default_story_tracker] && tracker.id.to_s==Backlogs.settings[:default_story_tracker]) %>
	  <option value="<%= tracker.id %>" selected="selected"><%= h tracker.name %></option>
	  <%- else %>
	  <option value="<%= tracker.id %>"><%= h tracker.name %></option>
	  <%- end %>
  <%- end %>
</select>

<select class="project_id helper" id="project_id_options">
  <option value="<%= @project.id %>"><%= @project.name %></option>
</select>

<div id="story_template">
  <%= render :partial => 'rb_stories/story', :object => RbStory.new %>
</div>
