<div class="<%= cls %> headertext fff-wrapper" id="<%= sprint_html_id_or_empty(sprint) %>">
  <div class="id">
    <div class="t"><%= sprint_link_or_empty(sprint) %></div>
    <div class="v"><%= id_or_empty(sprint) %></div>
  </div>

  <div class="fff-wrapmiddle">
    <div class="fff-middle">
      <div class="name editable" fieldname="name" fieldlabel="<%=l(:field_name)%>"><%= h sprint.name %></div>
    </div>
  </div>

  <div class="fff-left">
    <div class="menu">
      <div class="icon ui-icon ui-icon-carat-1-s"></div>
      <ul class="items">
      </ul>
    </div>
  </div>

  <div class="fff-right">
    <div class="sprint_start_date editable date" fieldname="sprint_start_date" fieldlabel="<%=l(:field_sprint_start_date)%>"><%= sprint.sprint_start_date || l(:label_no_start) %></div>
    <div class="effective_date editable date" fieldname="effective_date" fieldlabel="<%=l(:field_effective_date)%>"><%= sprint.effective_date || l(:label_no_end) %></div>
    <div class="description editable" fieldname="description" fieldlabel="<%=l(:field_description)%>" fieldtype="textarea"><%= h sprint.description %></div>
    <div class="meta">
      <%= render :partial => "backlogs/model_errors", :object => sprint.errors unless sprint.errors.empty? %>
    </div>
    <div class="velocity story_tooltip" title="<b>Tracker statistics</b><br />"> </div>
  </div>

</div>
