<style type="text/css">
  tbody {
    vertical-align: top;
  }
  .hour {
    text-align: right;
  }
  .overcost-normal {
  }
  .overcost-attension {
     color: #ff9900;
  }
  .overcost-caution {
     color: #ff0000;
  }
  .tasks {
     display: none;
  }

  table.total_times {
    width: 30%;
  }
  table.category-times {
    width: 20%;
  }
  table.tracker-times {
    width: 20%;
  }
  table.detail {
    width: auto;
  }
</style>

<h2>予実</h2>

<h3>全体</h3>
<table class="list total_times">
  <thead><tr>
    <th>見積(h)</th>
    <th>計画(h)</th>
    <th>作業(h)</th>
    <th>見積計画比 (%)</th>
    <th>見積実績比 (%)</th>
    <th>計画実績比 (%)</th>
  </tr></thead>
  <tbody><tr>
    <td><%= l_hour(@total_rfp_hours) %></td>
    <td><%= l_hour(@total_estimated_hours) %></td>
    <td><%= l_hour(@total_spent_hours) %></td>
    <td><%= l_hour(@total_estimated_hours / @total_rfp_hours * 100) %></td>
    <td><%= l_hour(@total_spent_hours / @total_rfp_hours * 100) %></td>
    <td><%= l_hour(@total_spent_hours / @total_estimated_hours * 100) %></td>
  </tr></tbody>
</table>

<p>見積(<%= l_hour(@total_rfp_hours) %>) - 計画(<%= l_hour(@total_estimated_hours)%>) = <%= l_hours(@total_rfp_hours - @total_estimated_hours) %></p>
<p>見積(<%= l_hour(@total_rfp_hours) %>) - 作業(<%= l_hour(@total_spent_hours)%>) = <%= l_hours(@total_rfp_hours - @total_spent_hours) %></p>

<h3>カテゴリ別時間集計</h3>
<table class="list category-times">
  <thead><tr>
    <th>カテゴリ</th>
    <th>計画時間</th>
    <th>作業時間</th>
  </tr></thead>
  <tbody>
<% @category_time_entries.sort.each do |name, time| %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td><%= name %></td>
    <td><%= l_hour(@category_estimated_hours[name]) %></td>
    <td><%= l_hour(time) %></td>
  </tr>
<% end %>
  </tbody>
</table>

<h3>トラッカー別時間集計</h3>
<table class="list tracker-times">
  <thead><tr>
    <th>トラッカー</th>
    <th>計画時間</th>
    <th>作業時間</th>
  </tr></thead>
  <tbody>
<% @tracker_time_entries.sort.each do |name, time| %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td><%= name %></td>
    <td><%= l_hour(@tracker_estimated_hours[name]) %></td>
    <td><%= l_hour(time) %></td>
  </tr>
<% end %>
  </tbody>
</table>

<h3>時間の使い方履歴</h3>
<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<%= @graph %>

<h3>詳細</h3>
<dl>
  <dt class="overcost-caution">赤字</dt><dd>予定時間を二割を超えて超過</dd>
  <dt class="overcost-attension">橙色</dt><dd>予定時間の二割まで超過</dd>
</dl>
<table class="list detail">
  <thead><tr>
    <th>スプリント</th>
    <th>計画(h)</th>
    <th>作業(h)</th>
    <th>ストーリー</th>
    <th>予定工数</th>
    <th>作業時間</th>
    <th>タスク</th>
  </tr></thead>
  <tbody>
  <% @sprints.each do |sprint| %>
    <tr>
      <td rowspan="<%= rowspan_sprint(sprint) %>"><%= link_to(h(sprint.name), :controller => 'versions', :action => 'show', :id => sprint) %></td>
      <td rowspan="<%= rowspan_sprint(sprint) %>" class="hour"><%= l_hour(sprint.estimated_hours) %></td>
      <td rowspan="<%= rowspan_sprint(sprint) %>" class="hour"><%= l_hour(sprint.spent_hours) %></td>

    <% sprint.stories.each do |story| %>
      <%= render :partial => 'story', :object => story %>
    <% end %>

    </tr>
  <% end %>
    <tr>
      <td rowspan="<%= rowspan_backlog(@backlog) %>"><%= 'Product Backlog' %></td>
      <td rowspan="<%= rowspan_backlog(@backlog) %>" class="hour"></td>
      <td rowspan="<%= rowspan_backlog(@backlog) %>" class="hour"></td>
      <% @backlog.each do |story| %>
        <%= render :partial => 'story', :object => story %>
      <% end %>
    </tr>
    <tr>
      <td rowspan="<%= rowspan_backlog(@issues) %>"><%= 'Issues' %></td>
      <td rowspan="<%= rowspan_backlog(@issues) %>" class="hour"></td>
      <td rowspan="<%= rowspan_backlog(@issues) %>" class="hour"></td>
      <% @issues.each do |issue| %>
        <%= render :partial => 'story', :object => issue %>
      <% end %>
    </tr>
  </tbody>
</table>
