<div style="<%= style %>" class="burndown_chart" id="burndown_<%= sprint.id %>"><div class="loading">Generating chart...</div></div>

<script type="text/javascript" language="javascript">
  <%-
      burndown = sprint.burndown
      series = burndown.series.sort{|a, b| l("label_#{a}") <=> l("label_#{b}") }
      dates = sprint.days(:all)

      ticks = dates.collect{|d|
        t = Time.utc(d.year, d.mon, d.mday)
        zone = User.current.time_zone
        zone ? t.in_time_zone(zone) : t
      }.collect{|t| t.strftime('%a')[0, 1].downcase + ' ' + t.strftime(::I18n.t('date.formats.short')) }
      ticks = (0..dates.size * 2).collect{|i| [i, (i % 2 == 0 ? ' ' : ticks[(i-1)/2] + ' ')] }

      chart = {
        :mode => mode,
        :series => series.collect{|s| burndown[s].enum_for(:each_with_index).collect{|d,i| [i*2, d]}},
        :position => Hash[*(0.upto(series.size - 1).collect{|i| [series[i], i]}.flatten)],
        :options => {
          :series => series.collect{|s|
            axis = s.to_s.split('_')[0]
            {
              :label => l("label_#{s}"),
              :yaxis => {'hours' => 'yaxis', 'points' => 'y2axis', 'ideal' => 'y3axis'}[axis],
              :showHighlight => (axis != 'ideal'),
              :markerOptions => {:style => {'hours' => 'filledSquare', 'points' => 'filledCircle', 'ideal' => 'filledDiamond'}[axis]}
            }
          },
          :legend => {:show => (mode == :full), :location => 'sw'},
          :grid => {:shadow => false},
          :seriesDefaults => {:showMarker => (mode == :full), :shadow => false},
          :axesDefaults =>  {:pad => 1.05, :showTick => (mode == :full)},
          :axes => {
              :xaxis => {
                :min => 0,
                :max => dates.size * 2,
                :ticks => ticks,
                :tickOptions => {:angle => -90, :fontSize => '8pt'}
              },
              :yaxis => {:label => l("label_hours"), :min => 0, :autoscale => true, :tickOptions => {:formatString => '%d'}},
              :y2axis => {:label => l("label_points"), :min => 0, :autoscale => true, :tickOptions => {:formatString => '%d'}},
              :y3axis => {:min => 0, :autoscale => true, :showTicks => false, :showTickMarks => false, :tickOptions => {:showGridline => false, :show => false}}
          },
          :highlighter => { :bringSeriesToFront => true, :tooltipAxes => 'y', :formatString => '%s', :show => true }
        }
      }
  %>
  RB.burndown.charts[<%= sprint.id %>] = <%= chart.to_json %>;
  // RB.burndown.charts[<%= sprint.id %>].options.axesDefaults.tickRenderer = RB.$.jqplot.CanvasAxisTickRenderer;
  // RB.burndown.charts[<%= sprint.id %>].options.axes.xaxis.tickRenderer: RB.$.jqplot.CanvasAxisTickRenderer;
  RB.burndown.charts[<%= sprint.id %>].options.axes.yaxis.labelRenderer = RB.$.jqplot.CanvasAxisLabelRenderer;
  RB.burndown.charts[<%= sprint.id %>].options.axes.y2axis.labelRenderer = RB.$.jqplot.CanvasAxisLabelRenderer;
  RB.burndown.initialize();
</script>
