<%= render :partial => 'burndown', :locals => {:div => 'burndown_', :burndown => @burndown } %>

<div class="burndown_chart" id="burndown_<%= @burndown.sprint_id %>"><div class="loading">Generating chart...</div></div>

<fieldset>
    <legend><%= l(:rb_label_chart_options) %></legend>
    <% @burndown.series(:all).each do |series| %>
        <input class="series_enabled" type="checkbox" onclick="burndown_configure(this)" id="<%= series.name %>_enabled" name="<%= series.name %>_enabled" value="<%= series.name %>"><%= l("rb_label_#{series.name}") %><br/>
    <% end %>
</fieldset>
