<div class="backlog">
  <div class="header">
    <div class="menu">
      <div class="icon ui-icon ui-icon-carat-1-s"></div>
      <ul class="items">
      </ul>
    </div>
    <%- if backlog[:sprint] %>
      <%= render :partial => "rb_sprints/sprint", :object => backlog[:sprint] %>
      <div class="velocity story_tooltip" title="<b>Tracker statistics</b><br />"> </div>
    <%- elsif User.current.allowed_to?(:manage_versions, @project) %>
      <div class="label"><%=l(:label_product_backlog).titleize %></div>
      <%= link_to l(:label_close_completed_sprints), {:controller => 'rb_sprints', :action => 'close_completed', :project_id => @project}, :class => 'close_sprint', :method => :put %>
      <div class="velocity story_tooltip" title="<b>Tracker statistics</b><br />"> </div>
    <%- end %>
  </div>
  <ul id="stories-for-<%= backlog[:sprint] ? backlog[:sprint].id : 'product-backlog' %>" class="stories">
    <%= render :partial => "rb_stories/story", :collection => backlog[:stories] %>
  </ul>
</div>
