<%= error_messages_for 'release' %>
<div class="box">
<!--[form:release]-->
<p><label for="release_name"><%=l(:field_name)%> <span class="required">*</span></label>
<%= text_field 'release', 'name', :size => 60 %></p>
<p><label for="release_release_start_date">Start date</label>
<%= text_field 'release', 'release_start_date', :size => 10 %><%= calendar_for('release_release_start_date') %></p>
<p><label for="release_release_end_date">End date</label>
<%= text_field 'release', 'release_end_date', :size => 10 %><%= calendar_for('release_release_end_date') %></p>
<!--[eoform:release]-->
</div>
