<div class="model release" id="<%= release_html_id_or_empty(release) %>">
  <h3><%= release_link_or_empty(release) %></h3>
  <p><b><%= l(:field_release_start_date) %>:</b>   <%= release.release_start_date   %></p>
  <p><b><%= l(:field_release_end_date) %>:</b>     <%= release.release_end_date     %></p>
  <br />
  <div class="meta">
    <%= render :partial => "backlogs/model_errors", :object => release.errors unless release.errors.empty? %>
  </div>
</div>
