  <div class="sprint">
	<h3 class="version"><%= tag 'a', :name => version.name %><%= link_to_version version %></h3>
	<%= render :partial => 'versions/overview', :locals => {:version => version} %>
	<%= render(:partial => "wiki/content", :locals => {:content => version.wiki_page.content}) if version.wiki_page %>
  <%= call_hook :view_projects_roadmap_version_bottom, :version => version %>
<%= form_tag({}) do -%>
<% issues.sort!{|a,b|a.position <=> b.position} %>
  <table class="list issues">
    <tr>
      <th></th>
      <th>#</th>
      <th>Tracker</th>
      <th>Subject</th>
      <th>Story Points</th>
    </tr>
    <% issues.each do |issue|
    klass=issue.closed? ? 'closed':'open' %>
    <tr class="hascontextmenu <%= klass %>">
      <td class="checkbox"><%= check_box_tag 'ids[]', issue.id, false, :id => nil %></td>
      <td><%= link_to issue.id, {:controller => 'issues', :action => 'show', :id => issue.id} %></td>
      <td><%= h tracker_name_or_empty(issue) %></td>
      <td><%= issue.subject %></td>
      <td><%= story_points_or_empty(issue) %></td>
    </tr>
    <% end %>
  </table>
  </div>
<% end %>
<%= context_menu issues_context_menu_path %>
