<style type="text/css">
tr.closed {text-decoration: line-through;}
.sprint {margin-bottom: 2em;}
h3.version {font-size: 14px; background: none; padding-left:0;}
#sprints, #releasebacklog, #closed-sprints {margin-bottom: 3em;}
</style>
<div class="contextual">
<%= link_to_if_authorized l(:button_edit),   {:controller => 'rb_releases', :action => 'edit',    :release_id => @release}, :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
<%= link_to_if_authorized l(:button_delete), {:controller => 'rb_releases', :action => 'destroy', :release_id => @release}, :confirm => l(:text_are_you_sure), :class => 'icon icon-del', :method => :delete %>
</div>

<h2><%= h @release.name %></h2>

<p><%= @release.description %></p>

<h3>Release Burndown</h3>
<!--Release Burndown Visualization-->
<% unless @release.has_burndown? %>
  <p class="nodata">No burndown available</p>
<% else %>
  <% if false %><!-- FIXME Disabled for now -->
    <%= render :partial => "rb_release_burndown_charts/burndown", :locals => { :release => @release, :style => "margin-left:0px; margin-top:20px;"} %>
  <% end %>
  <br />

<!--Visualization of related sprints -->
<!--TODO: i18n-->
<br><h3>Sprints</h3>

<div id="sprints">
  <% @release.stories_by_sprint.each do |v,list|
    version = Version.find(v)
    if version.open? %>
    <%= render :partial => 'sprint', :locals => { :version=>version, :issues=>list} %>
  <%end
  end %>
</div>

<div id="releasebacklog">
<h3>Release Backlog</h3>
<table class="list issues">
  <tr>
    <th>#</th>
    <th>Tracker</th>
    <th>Subject</th>
    <th>Story Points</th>
  </tr>
  <% RbStory.release_backlog(@release).each{|story|
  klass=story.closed? ? 'closed':'open' %>
  <tr class="<%= klass %>">
    <td><%= link_to story.id, {:controller => 'issues', :action => 'show', :id => story.id} %></td>
    <td><%= h tracker_name_or_empty(story) %></td>
    <td><%= story.subject %></td>
    <td><%= story_points_or_empty(story) %></td>
  </tr>
  <% } %>
</table>
</div>

<br><h3>Closed Sprints</h3>
<div id="closed_sprints">
  <% @release.stories_by_sprint.each do |v,list|
    version = Version.find(v)
    unless version.open? %>
    <%= render :partial => 'sprint', :locals => { :version=>version, :issues=>list} %>
  <%end
  end %>
</div>

  <% other_formats_links do |f| %>
    <%= f.link_to 'CSV', :url => { :release_id => @release } %>
  <% end %>
  <br />
<% end %>

<% content_for :sidebar do %>
  <h3><%= l(:label_release) %></h3>
  <p><b><%= l(:field_status) %>:</b>   <%= l("version_status_#{@release.status}")    %></p>
  <p><b><%= l(:field_release_start_date) %>:</b>   <%= @release.release_start_date   %></p>
  <p><b><%= l(:field_release_end_date) %>:</b>     <%= @release.release_end_date     %></p>
  <p><b><%= l(:remaining_story_points) %>:</b>     <%= @remaining_story_points       %></p>
<% end %>

<% html_title(@release.name) -%>
