<div class="contextual">
<%= link_to_if_authorized l(:button_edit),   {:controller => 'rb_releases', :action => 'edit',    :release_id => @release}, :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
<%= link_to_if_authorized l(:button_delete), {:controller => 'rb_releases', :action => 'destroy', :release_id => @release}, :confirm => l(:text_are_you_sure), :class => 'icon icon-del' %>
</div>

<h2><%= @release.name %></h2>

<% unless @release.has_burndown? %>
  <p class="nodata">No burndown available</p>
<% else %>
  <div id="release_burndown_<%= @release.id %>" style="margin-left:0px; margin-top:20px;"></div>
  <%= render :partial => "rb_release_burndown_charts/burndown", :locals => {:div => 'release_burndown_', :burndown => @release.burndown } %>

  <% if Date.today >= @release.release_start_date and Date.today <= @release.release_end_date %>
    <br />
    <div class="box">
    <% if @release.today %>
      <%= link_to 'update snapshot for today', {:controller => 'rb_releases', :action => 'snapshot', :release_id => @release}, :class => 'icon icon-save' %>
      (currently set to <%= @release.today.remaining_story_points %> points)
    <% else %>
      <%= link_to 'create snapshot for today', {:controller => 'rb_releases', :action => 'snapshot', :release_id => @release}, :class => 'icon icon-save' %>
    <% end %>
    </div>
  <% end %>

  <% other_formats_links do |f| %>
    <%= f.link_to 'CSV', :url => { :release_id => @release } %>
  <% end %>
  <br />
<% end %>

<% content_for :sidebar do %>
  <h3><%= l(:label_release) %></h3>
  <p><b>Start date:</b>             <%= @release.release_start_date || "no start date" %></p>
  <p><b>End date:</b>               <%= @release.release_end_date   || "no end date"   %></p>
  <p><b>Initial story points:</b>   <%= @release.initial_story_points || "N/A" %></p>
  <p><b>Remaining story points:</b> <%= @remaining_story_points %> (<%= @release.stories.count %> stories)</p>
<% end %>

<% html_title(@release.name) -%>
