<div class="model issue impediment <%= mark_if_closed(impediment) %>" id="issue_<%= impediment.id %>" <%= build_inline_style(impediment) %>>
  <div class="id">
    <div class="t"><%= issue_link_or_empty(impediment) %></div>
    <div class="v"><%= id_or_empty(impediment) %></div>
  </div>
  <div class="subject editable" fieldtype="textarea" fieldname="subject" fieldlabel="<%=l(:field_subject)%>"><%= h impediment.subject %></div>
  <div class="blocks editable" fieldname="blocks" fieldlabel="<%=l(:field_blocks)%>"><%= blocked_ids(impediment.blocks) %></div>
  <div class="assigned_to_id editable" fieldtype="select" fieldname="assigned_to_id" fieldlabel="<%=l(:field_assigned_to)%>">
    <div class="t"><%= assignee_name_or_empty(impediment) %></div>
    <div class="v"><%= assignee_id_or_empty(impediment) %></div>
  </div>
  <div class="remaining_hours editable" fieldname="remaining_hours" fieldlabel="<%=l(:field_remaining_hours)%>"><%= remaining_hours_or_empty(impediment) %></div>
  <div class="indicator"> </div>
  <% if User.current.allowed_to?(:log_time, @project) && @settings[:timelog_from_taskboard]=='enabled'  %>
    <div class="time_entry_hours editable" style="display: none" fieldname="time_entry_hours" fieldlabel="<%=l(:field_time_entry_hours)%>"></div>
    <% if User.current.allowed_to?(:edit_time_entries, @project) %>
      <div class="time_entry_user_id editable" fieldtype="select" fieldname="time_entry_user_id" fieldlabel="<%=l(:field_time_entry_user_id)%>">
        <div class="v" style="display: none" ><%= assignee_id_or_empty(impediment) %></div>
      </div>
    <% end %>
    <div class="Time_entry_spent_on editable date" fieldname="time_entry_spent_on" fieldlabel="<%=l(:field_time_entry_spend_on)%>" style="display:none"><%= Date.today %></div>
    <div class="Time_entry_comments editable" fieldtype=textarea fieldname="time_entry_comments" fieldlabel="<%=l(:field_time_entry_comments)%>"></div>
  <% end %>
  <div class="meta">
    <!-- friflaj:
      TODO: I don't get this -- impediments aren't tied to a story, and Task explicitly assumes they're top-level issues
    -->
    <div class="story_id"><%= impediment.parent_id %></div>
    <div class="status_id"><%= impediment.status_id %></div>
    <div class="project_id">impediments</div><!-- for drag-drop handling -->
    <div class="user_status"><%= impediment.author == User.current ? '+' : '-' %>c<%= impediment.assigned_to == User.current ? '+' : '-' %>a</div>
    <div class="tracker_id"><%= tracker_id_or_empty(impediment) %></div>
    <%= render :partial => "backlogs/model_errors", :object => impediment.errors unless impediment.errors.empty? %>
  </div>
</div>
