<% html_title(@release_multiview.name) -%>

<div class="contextual">
<%= link_to_if_authorized l(:button_edit),   {:controller => 'rb_releases_multiview', :action => 'edit',    :release_multiview_id => @release_multiview}, :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
<%= link_to_if_authorized l(:button_delete), {:controller => 'rb_releases_multiview', :action => 'destroy', :release_multiview_id => @release_multiview}, :confirm => l(:text_are_you_sure), :class => 'icon icon-del', :method => :delete %>
</div>

<h2><%= @release_multiview.name %></h2>
<p><%= textilizable @release_multiview, :description %></p>

<% if Backlogs.setting[:release_burnup_enabled] %>
  <h3>Burnchart</h3>
  <!--Release multiview burnchart Visualization-->
  <% unless @release_multiview.has_burnchart? %>
    <p class="nodata">No burnchart available</p>
  <% else %>
      <%= render :partial => "burnchart", :locals => { :release_multiview => @release_multiview, :style => "margin-left:0px; margin-top:20px;"} %>
  <fieldset>
      <legend><%= l(:label_chart_options) %></legend>

      Legend:
      <%- ['Off', 'NW', 'N', 'NE', 'E', 'SE', 'S', 'SW', 'W'].each do |legend| %>
        <input type="radio" name="legend" id="burndown_legend_<%= legend.downcase %>" value="<%= legend.downcase %>" onclick="RB.burndown.change_legend(this)">&nbsp;<%= legend %>&nbsp;&nbsp;
      <%- end %><br/>

  </fieldset>
  <script type="text/javascript">
    RB.burndown.configure();
  </script>

    <br />
  <% end %>
<% end %>

<h3>Releases</h3>
<% unless @release_multiview.has_burnchart? %>
  <%= render :partial => 'releases', :locals => { :releases => @release_multiview.releases } %>
<% else %>
  <%= render :partial => 'releases_estimate', :locals => { :releases => @release_multiview.burnchart.releases_estimate } %>
<% end %>




<% content_for :sidebar do %>
<h3><%= l(:label_release_multiview) %></h3>


<% end %>
